.about-container{
    width: 1500px;
    margin: 100px auto;
}

.about-page-title{
    text-align: center;
    font-size: 120px;
    letter-spacing: 0.075em;

}

.about-text{
    margin: 100px 0;
    line-height: 40px;
}

.page-sub-title{
    margin-top: 80px;
}

.about-img{
    padding-left: 200px;
    margin-top: 80px;
}

.pickup{
    font-size: 50px;
    margin-bottom: 30px;
}


