.slideshow{
    overflow: hidden;
    position: relative;
    min-width: 960px;
    height: 1000px;
}

.slideshow img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -800px;
}

.slide-item p{
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 50px;
    font-weight: bold;
    color: #243A5E;

}


