// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts"; //追記


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome"; //追記
@import '~@fortawesome/fontawesome-free/scss/solid'; //追記
@import '~@fortawesome/fontawesome-free/scss/regular'; //追記
@import '~@fortawesome/fontawesome-free/scss/brands'; //追記
@import 'top';
@import 'itempage';
@import 'Itemshow';
@import 'header';
@import 'about';
@import 'login_signup';
@import 'buyform';


body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}
footer{
    margin-top: auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.error{
    color: #e3342f;
    font-size: 0.8;

}

.btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #3E597C;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn:active{
    /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn:hover{
    color: #FFF;
    background-color: #4F6E91;
}

.sub-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #BD996D;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #A57E53;
    border-radius: 3px;
}

.sub-btn:active{
    /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.sub-btn:hover{
    color: #FFF;
    background-color: #DEBE91;
}

.zipcode-search{
    
}


