// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts"; //追記


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome"; //追記
@import '~@fortawesome/fontawesome-free/scss/solid'; //追記
@import '~@fortawesome/fontawesome-free/scss/regular'; //追記
@import '~@fortawesome/fontawesome-free/scss/brands'; //追記
@import 'top';
@import 'Itemshow';

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}

.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
    display: flex;
   margin: 5px 0;
}
.fadein img{
    width: 500px;
}
  .fadein:nth-child(2n+1) {
      flex-direction: row-reverse;
    }         /* 奇数番目は左から右へ並べる */
.fadein:nth-child(2n) {
    flex-direction: row;
}
  .item-card {
    margin: 30px;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }
  .item-card-img {
    border-radius: 5px 5px 0 0;
    min-width: 100%;
    height: 300px;
  }
  .item-card-content {
    padding: 20px;
  }
  .item-card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .item-card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  .item-card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .item-card-link p {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .item-card-link p:hover {
    color: #0090aa;
  }

  .flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
